.auth{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 30%;
    justify-content: space-between;
}

.auth form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.auth h1{
    color: black;
    font-size: 2em;
    margin-bottom: 1em;
}

.auth form input{
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-bottom: 0.5em;
}

.auth form button{
    font-size: 1em;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: black;
    color: white;
    cursor: pointer;
}

.auth form button:hover{
    background-color: #323232;
}

.auth a {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    color: black;
}

.auth a:hover{
    color: #323232;
}

.container-auth{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}