@font-face {
    font-family: Helsinki;
    src: url(../../static/font/Helsinkifjes-Regular.otf);
  }

  @font-face {
    font-family: Kaio-Bold;
    src: url(../../static/font/KaioTRIAL-Bold-BF65f24de19552f.otf);
  }

  @font-face {
    font-family: LTSaeada;
    src: url(../../static/font/LTSaeada-Medium-BF65dfe3cb8157e.otf);
  }
  

#gameCanvas{
    border: 4px solid wheat;
    background-image: url('../../static/figures/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.input_answer {
    margin-top: 1em;
    width: 55%;
    color: white;
    background: black;
    border : none;
    border-bottom: 4px solid wheat;
    font-size: 1.5em;
    outline: none;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 0.2em;
}

.item_game{
    display: flex;
    justify-content: left;
    align-items:first baseline;
    margin-bottom: 1em;
    margin-left: 1em;
}

.game_canvas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;

}

.item_game h2{
    width: fit-content;
    text-align: center;
    font-family: 'LTSaeada';
    padding-left: 1em;
    padding-right: 1em;
    color: wheat;
    font-size: 1.75em;
}

.item_game li{
    font-family: 'LTSaeada';
    color: wheat;
    font-size: 1.5em;
}

.vertical_item_game{
    margin-top: 1em;
    border-left: solid 4px wheat;

}

.failed_guess{
    font-family: 'LTSaeada';
    color: wheat;
    font-size: 1.5em;
}

.answerFailed{
    font-family: 'LTSaeada';
    color: rgb(255, 255, 255);
    font-size: 1em;
    margin-top: 1em;
}

.answerFailed span {
    font-family: 'Kaio-Bold';
    color: wheat;
    font-size: 1.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}