@font-face {
    font-family: Helsinki;
    src: url(../../static/font/Helsinkifjes-Regular.otf);
  }

  @font-face {
    font-family: Kaio-Bold;
    src: url(../../static/font/KaioTRIAL-Bold-BF65f24de19552f.otf);
  }

  @font-face {
    font-family: LTSaeada;
    src: url(../../static/font/LTSaeada-Medium-BF65dfe3cb8157e.otf);
  }
  

.navbar  {
    background-image: url('../../static/figures/background.webp');
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: -5px 10px 30px rgb(255, 255, 255);
}

.navbar .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.navbar .links a{
    color: white;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'LTSaeada';
    font-size: 1.5em;
    color: wheat;
}

.navbar .links a:hover{
    border-bottom: 2px solid white;
    color: white;
}

.navbar h1{
    color: white;
    text-align: center;
    font-size: 3em;
    padding-left: 1em;
    font-family: 'Kaio-Bold';
}

.navbar h1 a{
    color: white;
    text-decoration: none;
}