<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/style/main.css"/>
    <meta charset="UTF-8">
    <title>🇬🇧 English Invader</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='style/main.css') }}">


</head>
<body>
<div class="centering_horizontal centering_vertical vertical">
    <h1>🇬🇧 English Invader</h1>
    <div style="width: 480px" class="horizontal space_between">
        <h2 id="life">Life : 3</h2>
        <h2 id="score">Score : 0</h2>
    </div>
    <canvas id="gameCanvas" width="480" height="640"></canvas>
    <input id="proposal" class="input_answer" placeholder="propostion">

</div>

<script type="module" src="{{ url_for('static', filename='script/game.js') }}"></script>
</body>

</html>